/* преобладающий цвет текса #757575; */
/* цвет заголовков #212121; */
/* цвет актива #2196F3; */
/* бек-граунд основной #ffffff; */
/* бек-граунд команды #F5F4FA;*/

:root {
  --dominant-tex-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #fffff;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: var(--dominant-tex-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* Шапка*/

.web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.studio {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.site-nav .link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.site-nav .link.curent {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.com-nav .com-nav {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.com-nav:hover,
.com-nav:focus {
  color: var(--accent-color);
}

/* главная страница веб-студия*/

.button {
  color: #ffffff;
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #188ce8;
}

.hero {
  background-color: #2f303a;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-color) 2121;
}

.subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-color);
}

.text {
  font-size: 14px;
  line-height: 1.7;
}

.box {
  background-color: #f5f4fa;
}

.title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-color);
}

.title-responsibilities {
  font-size: 16px;
  line-height: 1.2;
}

/* подвал*/
.page-footer {
  background-color: #2f303a;
}
.studio-white {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
.address {
  font-size: 14px;
  line-height: 2;
  color: #ffffff;
}

.contact {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

/*главаня страница портфолио*/
.project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
}

.desc {
  font-size: 16px;
  line-height: 2;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
